/*Общие стили*/

body
{
    font-family: 'Roboto', sans-serif;

    color: #fff;
    background: #ddd;
}

button:focus
{
    outline: 2px solid #841182;
}

.btn
{
    font-size: 18px;
    font-weight: 700;

    padding: 19px 57px;

    color: #072b6f;
    border: 1px solid #fff;
    border-radius: 35px;
    background-color: #fff;
    box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, .83);
}





/*Стили для шапки*/

.header
{
    padding-top: 59px;
    padding-bottom: 22px;

    background-color: #3a7dfd;
    background-image: -webkit-linear-gradient(57deg, #3a7dfd 0%, #1157db 100%);
    background-image:      -o-linear-gradient(57deg, #3a7dfd 0%, #1157db 100%);
    background-image:         linear-gradient(147deg, #3a7dfd 0%, #1157db 100%);
}

.header__descr-text
{
    margin-top: 102px;
}

.header__subtitle
{
    font-size: 18px;
    font-weight: 700;
}

.header__title
{
    font-size: 48px;
    font-weight: 700;
    line-height: 36.81px;

    margin-top: 21px;
}

.header__list-skills
{
    margin-top: 20px;
    padding: 0;
}

.header__list-item
{
    font-size: 18px;
    font-weight: 400;

    list-style: none;
}

.header__btn
{
    margin-top: 33px;
}

.header__btn-embarrassment
{
    font-size: 12px;
    font-weight: 400;

    margin-top: 9px;
    margin-left: 54px;
}





/*Стили для секции - портфолио*/

.portfolio
{
    padding-top: 44px;
    padding-bottom: 71px;

    color: #072b6f;
}

.portfolio__items
{
    padding: 21px 50px 41px 50px;

    border: 3px solid #fff;
    background-color: #fff;
}

.portfolio__item
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: column;

    height: 100%;

    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
}

.portfolio__title
{
    font-size: 18px;
    font-weight: 700;

    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.portfolio__subtitle
{
    font-size: 14px;
    font-weight: 400;

    margin-top: 10px;

    text-align: center;

    color: #7bb9ff;
}

.portfolio__item-img
{
    margin-top: 30px;
}

.portfolio__item-text
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: column;

    height: 100%;
    margin-top: 16px;

    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
}

.portfolio__item-title
{
    font-size: 18px;
    font-weight: 700;

    text-transform: uppercase;
}

.portfolio__item-descr
{
    font-size: 14px;
    font-weight: 400;

    margin-top: 20px;

    color: #8f8f8f;
}

.portfolio__item-link
{
    font-size: 14px;
    font-weight: 400;

    margin-top: 19px;
    margin-top: auto;

    text-decoration: underline;
}





/*Оформление подвала*/

.footer
{
    padding: 104px 126px;

    color: #deedfe;
    background-color: #3a7dfd;
}



.footer__text-title
{
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;

    color: #fefefe;
}

.footer__text-subtitle
{
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;

    margin-top: 7px;
}



.footer__social-title
{
    font-size: 18px;
    font-weight: 400;
    line-height: 39.81px;
}

.footer__social-items
{
    margin-top: 21px;
}

.footer__social-item
{
    margin-left: 27px;
}

.footer__social-item:first-child
{
    margin-left: 0;
}



.footer__writeme-title
{
    font-size: 18px;
    font-weight: 400;
    line-height: 39.8px;
}

.footer__writeme-btn
{
    font-size: 18px;
    font-weight: 400;

    color: #fff;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}


/*Стили для адаптивной верстки*/

@media (max-width: 1200px)
{
    .portfolio__item
    {
        text-align: center;
    }

    .footer__social-item img
    {
        width: 30px;
    }
}

@media (max-width: 992px)
{
    .header__main-img
    {
        display: none;
    }

    .header__descr-text
    {
        margin-top: 22px;

        text-align: center;
    }

    .footer__text
    {
        text-align: center;
    }

    .footer__social
    {
        margin-top: 25px;

        text-align: center;
    }

    .footer__writeme
    {
        margin-top: 25px;

        text-align: center;
    }
}

@media (max-width: 768px)
{
    .portfolio__items
    {
        padding: 21px 20px 31px 20px;
    }

    .portfolio__item-img img
    {
        width: 100%;
    }
}

@media (max-width: 576px)
{
    .header__title
    {
        line-height: 56.81px;
    }
    .portfolio__items
    {
        width: 100%;
        padding: 21px 0 31px 0;
    }

    .portfolio__item-img img
    {
        width: 100%;
    }
    .footer__text
    {
        text-align: center;
    }

    .footer__textt-title
    {
        font-size: 18px;
    }

    .footer__text-subtitle
    {
        font-size: 14px;
    }

    .footer__social
    {
        margin-top: 20px;

        text-align: center;
    }

    .footer__social-title
    {
        font-size: 14px;
    }

    .footer__social-item
    {
        display: block;

        margin: 0;
        margin-top: 20px;
    }

    .footer__social-item:first-child
    {
        margin-top: 0;
    }

    .footer__writeme
    {
        margin-top: 20px;

        text-align: center;
    }

    .footer__writeme-title
    {
        font-size: 14px;
    }

    .footer__writeme-btn
    {
        font-size: 14px;
    }

    .btn
    {
        padding: 10px 37px;
    }
}
